<section class="asset-block">
    <div>
        <h2>
            <div>{{localize "widzeCTX.sheet.assetPlural"}}</div>
            <a class="item-create" data-type="asset" title="{{localize "widzeCTX.sheet.addAsset"}}">
                <i class="fas fa-plus"></i>
            </a>
        </h2>
    </div>
    {{#each assets as |asset id|}}
    <div class="assetrow" data-item-id="{{asset._id}}">
        <input class="asset-name inline-edit" data-field="name" type="text" value="{{asset.name}}" placeholder="{{localize "widzeCTX.sheet.newAssetName"}}" />
        <select class="boneSizeDropdown" name="data.bone" data-field="data.bone" type="text">
            {{#select data.bone}}
            {{#each config.boneSizes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/each}}
</section>