<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "widzeCTX.queries.boneSizeQuery"}}</th>
                <th>{{localize "widzeCTX.queries.durationQuery"}}</th>
                <th>{{localize "widzeCTX.queries.ownershipQuery"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.bone">
                        {{#select data.bone}}
                        {{#each config.boneSizes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.duration">
                        {{#select data.duration}}
                        {{#each config.durations as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.collective" type="checkbox" {{checked data.collective}} />
                </td>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
